* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
#btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  position: relative;
}
#btn #next:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease;
  background-color: violet;
  color: black;
}
#btn #next::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease;
  background-color: violet;
  color: black;
}

#btn #next {
  right: 10%;
  padding: 10px;
  bottom: 10%;
  width: 20%;
  transform: translate(-50%) -50%;
  margin: 10px auto;
  background-color: aqua;
  cursor: pointer;
  border: 0;
  outline: 0;
  position: absolute;
}
#btn #prev {
  left: 10%;
  padding: 10px;
  position: absolute;
  width: 20%;
  bottom: 10%;
  margin: 10px auto;
  transform: translate(-50%) -50%;
  background-color: aqua;
  cursor: pointer;
  border: 0;
  outline: 0;
}
#btn #prev:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease;
  background-color: rgb(137, 130, 238);
  color: black;
}
#btn #prev::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease;
  background-color: rgb(137, 130, 238);
  color: black;
}

.images {
  width: 200px;
  height: 200px;
  position: relative;
  transition: all 1s ease;
  transform-style: preserve-3d;
  transform: perspective(1200px) rotateY(0deg);
}
.images span {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  transform: rotateY(calc(var(--i) * 60deg)) translateZ(300px);
}
.images span img {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
}
